<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <title>COVID-19 Awareness</title>
  <link rel="stylesheet" href="/static/css/errstyle.css">

    <link rel ="icon" href="/static/images/title.png" width="100px" height="100px"  type="image/x-icon">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="mars"></div>
<img src="/static/svg/404.svg" class="logo-404" />
<img src="/static/svg/meteor.svg" class="meteor" />
<p class="title">Oh no!! Not Again !!</p>
<p class="subtitle">
	I FIND YOUR LACK IN SENSE OF NAVIGATION REALLY DISTURBING !!!.
</p>

<!-- <p class="subtitle"> -->
	<!-- You’re either misspelling the URL <br /> or requesting a page that's no longer here. -->
<!-- </p> -->
<div align="center">
	<a class="btn-back" href="/">Back to previous page</a>
</div>
<img src="/static/svg/astronaut.svg" class="astronaut" />
<img src="/static/svg/spaceship.svg" class="spaceship" />

</body>
</html>
